@charset "utf-8";

#cesiumContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    z-index: 1;
}

.btn-container {
    position: absolute;
    left: 4%;
    top: 3%;
    padding: 5px 5px;
    border-radius: 4px;
    border: 0 solid rgb(4, 53, 217);
    color: rgba(4, 53, 217, 0.7);
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 14px rgba(127, 179, 238, 0.74);
    text-align: center;
    z-index: 100;
}

.button {
    cursor: pointer;
    background: transparent;
    width: auto;
    height: auto;
    border: 1px solid steelblue;
    color: #afb8e0;
    padding: 7px 9px;
    border-radius: 5px;
    margin: 3px;
    font-family: "heiti", Times, serif;
    font-size: 16px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.son_page {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0.7;
    z-index: 100;
    background-color: #4a5e86;
    text-align: center;
    font-size: 40px;
    /*border: 2px solid #003da8;*/
    border-radius: 6px;
}

.son_page_title_div {
    font-size: 25px;
    border-radius: 4px;
    border-color: #66ccee;
    color: #1ffc06;
    text-shadow: 1px 1px #0d4b05;
    position: absolute;
    left: 1%;
    top: 2%;
}

.son_page_button_div {
    /*border: 2px solid #6498f5;*/
    border-radius: 4px;
    position: absolute;
    left: 1%;
    top: 25%;
    margin: 4px;
}

.son_button {
    cursor: pointer;
    background: transparent;
    width: auto;
    height: auto;
    border: 1px solid #bdc0c9;
    color: #d3d5de;
    padding: 7px 9px;
    border-radius: 5px;
    margin: 5px;
    font-family: "microsoft yehei", Times, serif;
    font-size: 16px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.son_page_body_div {
    border: 1px solid #6498f5;
    border-radius: 4px;
    position: absolute;
    /*background-color: #22ee22;*/
    top: 2%;
    left: 10%;
    right: 1%;
    bottom: 2%;
}

.img_div {
    /*border: 1px solid rgb(141, 177, 243);*/
}

.img_canvas {
    background-color: rgba(17, 17, 17, 0.58);
    width: 300px;
    height: 200px;
    border-radius: 4px;
}

.son_page_label_div{
    font-size: 20px;
    align-items: center;
    margin: 4px 4px;
    border: 4px;
    padding: 2px 2px;
    color: #8cb987;
}

.result_imgs_div{
    display: flex;
    justify-content: space-around;
}


