@charset "utf-8";

body{
        width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #76838f;
    background-color: #fff;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    z-index: 0.1;
}

.btn-container {
    position: absolute;
    left: 2%;
    top: 30%;
    padding: 5px 5px;
    border-radius: 4px;
    border: 0 solid rgb(4, 53, 217);
    color: rgba(4, 53, 217, 0.7);
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 14px rgba(127, 179, 238, 0.74);
    text-align: center;
    z-index: 100;
}

.button {
    cursor: pointer;
    background: transparent;
    width: auto;
    height: auto;
    border: 1px solid steelblue;
    color: #afb8e0;
    padding: 7px 9px;
    border-radius: 5px;
    margin: 3px;
    font-family: "heiti", Times, serif;
    font-size: 16px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.son_page {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0.7;
    z-index: 100;
    background-color: #4a5e86;
    text-align: center;
    font-size: 40px;
    /*border: 2px solid #003da8;*/
    border-radius: 6px;
}

.son_page_title_div {
    font-size: 25px;
    border-radius: 4px;
    border-color: #66ccee;
    color: #1ffc06;
    text-shadow: 1px 1px #0d4b05;
    position: absolute;
    left: 1%;
    top: 2%;
}

.son_page_button_div {
    /*border: 2px solid #6498f5;*/
    border-radius: 4px;
    position: absolute;
    left: 1%;
    top: 25%;
    margin: 4px;
}

.son_button {
    cursor: pointer;
    background: transparent;
    width: auto;
    height: auto;
    border: 1px solid #bdc0c9;
    color: #d3d5de;
    padding: 7px 9px;
    border-radius: 5px;
    margin: 5px;
    font-family: "microsoft yehei", Times, serif;
    font-size: 16px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.son_page_body_div {
    border: 1px solid #6498f5;
    border-radius: 4px;
    position: absolute;
    /*background-color: #22ee22;*/
    top: 2%;
    left: 10%;
    right: 1%;
    bottom: 2%;
}

.img_div {
    /*border: 1px solid rgb(141, 177, 243);*/
}

.img_canvas {
    background-color: rgba(17, 17, 17, 0.58);
    width: 300px;
    height: 200px;
    border-radius: 4px;
}

.son_page_label_div{
    font-size: 20px;
    align-items: center;
    margin: 4px 4px;
    border: 4px;
    padding: 2px 2px;
    color: #8cb987;
}

.result_imgs_div{
    display: flex;
    justify-content: space-around;
}

.navList:hover .menu{
    display: block;
    z-index: 100;
}

.toolBarRight .animation-slide-top .no-print-view{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    -webkit-text-stroke: 0.5px !important;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-name: slide-top;
    position: absolute;
    z-index: 20210101;
    background: rgba(43,44,47,.8);
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    top: 10px;
    left: auto;
    right: 10px;
}

.btn-group{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    -webkit-text-stroke: 0.5px !important;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

p{
    font: 1em/normal '\5fae\8f6f\96c5\9ed1','\9ed1\4f53',Arial;
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 0.5px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
}

a{
    font: 1em/normal '\5fae\8f6f\96c5\9ed1','\9ed1\4f53',Arial;
    list-style: none;
    text-decoration: none;
    outline: 0;
    -webkit-text-stroke: 0.5px !important;
    display: block;
    box-sizing: border-box;
    transition: color .2s ease,background .2s ease;
    line-height: 60px;
    color: #fff;
    padding: 0 .4em;
    text-align: center;
}

.mainHeader .logo, .menu dl, .nav, .nav .navCon dl {
    float: left;
    height: 60px;
}

.mediaNav, .systemConfig, .userInfo {
    float: right
}

.menu .secList {
    clear: both
}

.mediaNav, .nav .navCon, .nav .navCon dl dd, .scrollBar_y {
    display: none
}


.menu dl a, .nav .active .navCon, .nav .navCon dl.active dd, .nav li a, .nav.active, .systemConfig a, .userInfo dl dd a {
    display: block
}

.mediaNav, .nav .navCon dl dt, .scrollBar_x_handler, .scrollBar_y_handler {
    cursor: pointer
}

.menu dl a, .nav li, .systemConfig a, .systemConfig span, .userInfo dl dd a, .userInfo dl dt a, .userInfo p:before {
    -webkit-transition: color .2s ease, background .2s ease;
    -moz-transition: color .2s ease, background .2s ease;
    -o-transition: color .2s ease, background .2s ease;
    -ms-transition: color .2s ease, background .2s ease;
    transition: color .2s ease, background .2s ease
}

.loading, .menu {
    -webkit-transition: left .2s ease, top .2s ease;
    -moz-transition: left .2s ease, top .2s ease;
    -o-transition: left .2s ease, top .2s ease;
    -ms-transition: left .2s ease, top .2s ease;
    transition: left .2s ease, top .2s ease
}

.nav, .nav .navCon, .positionMarker, .userInfo dl {
    -webkit-transition: width .2s ease, height .2s ease, left .2s ease;
    -moz-transition: width .2s ease, height .2s ease, left .2s ease;
    -o-transition: width .2s ease, height .2s ease, left .2s ease;
    -ms-transition: width .2s ease, height .2s ease, left .2s ease;
    transition: width .2s ease, height .2s ease, left .2s ease
}


.loading, .menu {
    visibility: hidden
}

.loading.active, .menu.active {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity:100)
}

.mainHeader .logo, .mainHeader .logo p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.mainHeader, .menu, .nav .navCon, .nav .navCon dl, .nav li a, .userInfo dl {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.nav li a {
    -webkit-transition: color .2s ease, background .2s ease;
    -moz-transition: color .2s ease, background .2s ease;
    -o-transition: color .2s ease, background .2s ease;
    -ms-transition: color .2s ease, background .2s ease;
    transition: color .2s ease, background .2s ease
}

.mainHeader:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
    visibility: hidden
}

.mainHeader {
    zoom: 1
}

.nav li a, .systemConfig {
    line-height: 40px
}

.mainHeader, .nav .navCon, .userInfo dl {
    background: #1c2531
}

.mainHeader {
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 85%;
}

.nav {
    margin: 0 0 0 80px;
    float: left;
    box-sizing: border-box;
    padding-left: 0;
    list-style: none;
}

.nav li {
    z-index: 1;
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    border: 0;
}

.nav li:hover .navCon {
    top: 100%;
}

.nav .navCon {
    position: absolute;
    left: 0;
    padding: .5em;
    height: auto;
    overflow: hidden
}

.nav .navCon dl {
    color: #fff;
    padding: .5em .5em .2em;
    font-size: .9em
}

.nav .navCon a {
    padding: .1em .5em;
    line-height: 0px;
    text-align: left;
    display: block;

}

.nav .navCon dl dt {
    color: #fff
}

.nav .navCon dl dd a {
    color: silver
}

.nav li a {
    color: #fff;
    text-align: center;
    position: relative;
    display: block;
    padding: 10px 15px;

}

.nav li a:hover {
    background: rgba(255, 255, 255, .1)
}

.nav li a:hover span {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.nav li span {
    width: 1.4em
}

.nav li span:before {
    padding: 0 .3em 0 0
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #8f8f8f;
}

.mainHeader .loading {
    color: #fff
}

.mainHeader .logo {
    position: relative;
    margin: 0 0 0 1em;
    font-size: .9em
}

.mainHeader .logo img {
    height: 40px;
    margin: 10px 8px 0 0;
    float: left;
    display: inline-block;
    box-sizing: border-box
}

.mainHeader .logo p {
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    line-height: 60px
}

.menu {
    position: absolute;
    font-size: 1em;
    z-index: 2;
    background: #1c2531;
    padding: 0 1em 1em;
    border-top: solid 1px rgba(255, 255, 255, .2);
    left: 50%;
    top: 60px
}

/*.menu dl {*/
/*    padding: 1em 20px .5em 0;*/
/*    margin: .3em 0;*/
/*    white-space: nowrap*/
/*}*/

/*.menu .secList {*/
/*    margin: 0;*/
/*    border: none;*/
/*    padding: 1em 0 0;*/
/*    float: none*/
/*}*/

/*.menu .secList dt {*/
/*    padding: .1em 0;*/
/*    border: none;*/
/*    font-size: .9em*/
/*}*/

/*.menu dl:last-child {*/
/*    border-right: none*/
/*}*/

/*.menu dl dt {*/
/*    padding: .1em 0 .4em;*/
/*    color: #fff;*/
/*    font-size: .96em;*/
/*    border-bottom: dotted 1px rgba(255, 255, 255, .5)*/
/*}*/

/*.menu dl dd {*/
/*    font-size: .9em*/
/*}*/

.menu dl a {
    color: #fff;
    padding: .4em;
    display: block
}

/*.menu span {*/
/*    padding: 0 .3em 0 0*/
/*}*/

/*.menu dl a {*/
/*    color: #c5c8ca*/
/*}*/

/*.menu dl a:hover, .nav .navCon dl dd a:hover, .nav .navCon dl dt a:hover {*/
/*    color: #fff;*/
/*    background: rgba(255, 255, 255, .2)*/
/*}*/

.menu.active {
    top: 60px
}

a {
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 58px;
    left: 14%;
    z-index: 101;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #1c2531;
    opacity: 85%;
    background-clip: padding-box;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu .secList{
    padding: 0;
    margin: 0;
    border: 0;
}
.dropdown-menu li{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}

.dropdown-menu a{
    padding: 0;
    margin: 0;
    border: 0;
}


.dropdown-menu li :hover{  // 鼠标停留北京变白
    text-decoration: none;
    background-color: #8f8f8f;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.6;
    color: #37474f;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1190;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .mainHeader {
        font-size: .85em
    }

    .mediaNav {
        display: block
    }

    .nav {
        width: 100%;
        height: auto;
        float: normal;
        margin: 0;
        display: none
    }

    .nav li .navCon {
        position: relative;
        width: 100%
    }

    .nav .navCon dl {
        font-size: 1em;
        float: none
    }

    .menu {
        display: none;
    }

    .nav li {
        display: block;
        border-top: dotted 1px rgba(255, 255, 255, .1)
    }

    .nav li a {
        display: block;
        width: auto;
        margin: 0;
        text-align: left;
        line-height: 40px
    }

    .nav li dl a {
        line-height: 30px
    }
}

@media screen and (min-width: 321px) and (max-width: 640px) {
    .mainHeader {
        font-size: .83em
    }

    .mediaNav {
        display: block
    }

    .nav {
        width: 100%;
        height: auto;
        float: normal;
        margin: 0;
        display: none
    }

    .nav li .navCon {
        position: relative;
        width: 100%
    }

    .nav .navCon dl {
        font-size: 1em;
        float: none
    }

    .menu {
        display: none
    }

    .nav li {
        display: block;
        border-top: dotted 1px rgba(255, 255, 255, .1)
    }

    .nav li a {
        display: block;
        width: auto;
        margin: 0;
        text-align: left;
        line-height: 40px
    }

    .nav li dl a {
        line-height: 30px
    }
}

@media screen and (max-width: 320px) {
    .mainHeader {
        font-size: .79em
    }

    .mediaNav {
        display: block
    }

    .nav {
        width: 100%;
        height: auto;
        float: normal;
        margin: 0;
        display: none
    }

    .nav li .navCon {
        position: relative;
        width: 100%
    }

    .nav .navCon dl {
        font-size: 1em;
        float: none
    }

    .menu {
        display: none
    }

    .nav li {
        display: block;
        border-top: dotted 1px rgba(255, 255, 255, .1)
    }

    .nav li a {
        display: block;
        width: auto;
        margin: 0;
        text-align: left;
        line-height: 40px
    }

    .nav li dl a {
        line-height: 30px
    }
}
