<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>localization sys.</title>
    <script src="../static/Cesium/Cesium.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="icon" href="../static/imgs/favicon.ico">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/Cesium/Widgets/widgets.css">
</head>

<body id="body">

<div class="mainHeader">
    <div class="loading active" id="navLoadEle" style="display: none;">正在加载菜单...</div>
    <div class="logo"><p><img src="../static/imgs/logo.png">综合态势感知系统</p></div>

    <div class="mediaNav fa fa-navicon" id="mediaNav"></div>
    <ul class="nav" id="navList">

        <li><a href="javascript:void(0)"><span class="menu"></span>三维模型</a>
            <div class="navCon"></div>
        </li>
        <li><a href="javascript:void(0)"><span class="menu"></span>数据分析</a>
            <div class="navCon"></div>
        </li>
        <li><a href="javascript:void(0)"><span class="menu"></span>综合态势</a>
            <div class="navCon">
                <dl class="secList">
                    <dt><a href="javascript:void(0)"><span class="fa fa-bullseye"></span>高校分布</a></dt>
                    <dt><a href="javascript:void(0)"><span class="fa fa-ticket"></span>动态线</a></dt>
                    <dt><a href="javascript:void(0)"><span class="fa fa-empire"></span>动态围墙</a></dt>
                    <dt><a href="javascript:void(0)"><span class="fa fa-wpexplorer"></span>扫描圈</a></dt>

                </dl>
            </div>
        </li>
        <li><a href="javascript:void(0)"><span class="menu"></span>信息展示</a>
            <div class="navCon"></div>

        </li>
    </ul>

    <div class="positionMarker" id="positionMarker" style="display: block; left: 760.663px; width: 0px;"></div>
</div>

<div class="dropdown-menu" style="left: 383.062px; width: auto; display: block; background: #22ee22; color: #003da8">
    <menu class="secList">
        <li><a href="javascript:void(0)"><span class="fa fa-bullseye"></span>高校分布</a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-ticket"></span>动态线</a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-empire"></span>动态围墙</a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-wpexplorer"></span>扫描圈</a></li>
    </menu>
</div>


<!-- <div class="toolBarRight animation-slide-top no-print-view" style="top: 10px; left: auto; right: 10px;"><button type="button" class="widget-btn btn btn-link toolBarRight-btn " data-widget="widgets/manageBasemaps/widget.js">                       <i class="fa fa-map"></i>底图
</button><button type="button" class="widget-btn btn btn-link toolBarRight-btn " data-widget="widgets/manageLayers/widget.js">                       <i class="fa fa-tasks"></i>图层
</button><div class="btn-group">
    <button type="button" class="btn btn-link toolBarRight-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-cubes"></i>工具<span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right toolBarRight-dropdown-menu"><li class="widget-btn" data-widget="widgets/measure/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-calculator"></i>图上量算</a>
    </li><li class="widget-btn" data-widget="widgets/analysis/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-bar-chart"></i>空间分析</a>
    </li><li class="widget-btn" data-widget="widgets/centerXY/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-map-pin"></i>坐标定位</a>
    </li><li class="widget-btn" data-widget="widgets/navXZQH/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-paper-plane"></i>地区导航</a>
    </li><li class="widget-btn" data-widget="widgets/addmarker/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-edit"></i>我的标记</a>
    </li><li class="widget-btn" data-widget="widgets/bookmark/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-tags"></i>视角书签</a>
    </li><li class="widget-btn" data-widget="widgets/print/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-print"></i>地图打印</a>
    </li><li class="widget-btn" data-widget="widgets/plot/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-object-group"></i>图上标绘</a>
    </li><li class="widget-btn" data-widget="widgets/roamLine/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-send-o"></i>飞行漫游</a>
    </li><li class="widget-btn" data-widget="widgets/queryRoute/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-level-up"></i>路线导航</a>
    </li><li class="widget-btn" data-widget="widgets/mapSplit/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-columns"></i>卷帘对比</a>
    </li><li class="widget-btn" data-widget="widgets/mapCompare/widget.js">
        <a href="javascript:void(0)"><i class="fa fa-window-restore"></i>分屏对比</a>
    </li> </ul></div></div>
-->
<div>
    <input type="file" id="files" style="display:none" onchange="file_import()">
</div>

<div class="btn-container">
    <button class="button" onclick="img_positioning()">图像定位</button>
    <br>
    <button class="button" onclick="target_positioning()">目标定位</button>
    <br>
    <button class="button" onclick="fly2school(viewer)">学校视角</button>
    <br>
    <button class="button" onclick="monitoring()">舆情监测</button>
    <br>
    <button class="button" onclick="situation_awareness()">态势感知</button>
</div>

<div class="son_page" id="img_positioning">
    <div class="son_page_title_div"><b>图像定位111</b></div>
    <div class="son_page_button_div">
        <button class="son_button" id="file_import" onclick="file_import()">导入图像</button>
        <br>
        <button class="son_button" onclick="import_img()">开始检索</button>
        <br>
        <button class="son_button" onclick="import_img()">位置显示</button>
        <br>
        <button class="son_button" onclick="import_img()">----</button>
        <br>
        <button class="son_button" onclick="import_img()">----</button>
    </div>
    <div class="son_page_body_div">
        <div class="img_div">
            <canvas class="img_canvas" id="query_img_canvas">

            </canvas>
            <div class="son_page_label_div">搜索图像名称</div>
        </div>

        <div class="result_imgs_div">
            <div class="img_div" id="result_img_div1">
                <canvas class="img_canvas" id="result_img_canvas1">

                </canvas>
                <div class="son_page_label_div" id="result_img_label1">检索结果图1</div>
            </div>

            <div class="img_div" id="result_img_div2">
                <canvas class="img_canvas" id="result_img_canvas2">

                </canvas>
                <div class="son_page_label_div" id="result_img_label2">检索结果图2</div>
            </div>

            <div class="img_div" id="result_img_div3">
                <canvas class="img_canvas" id="result_img_canvas3">

                </canvas>
                <div class="son_page_label_div" id="result_img_label3">检索结果图3</div>
            </div>
        </div>

    </div>
</div>

<div class="son_page" id="target_positioning">
    <div class="son_page_title_div"><b>目标定位</b></div>

    <button class="button" onclick="import_img()">导入目标图像</button>
</div>

<div class="son_page" id="monitoring">
    <div class="son_page_title_div"><b>舆情监测</b></div>
    <button class="button" onclick="monitoring()">舆情监测</button>
</div>
<div class="son_page" id="situation_awareness">
    <div class="son_page_title_div"><b>势态感知</b></div>
    <button class="button" onclick="situation_awareness()">势态感知</button>
</div>

<div id="cesiumContainer">
    <script>
        token_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJlY2Y0NDkzZS05ZWYzLTQ0NTQtOTM0OC1hODI1YWZlNGE3MDEiLCJpZCI6ODUxOTAsImlhdCI6MTY0NjgzNTE4OH0._cSQsUPts0jXVYrw5r-8RP1an5oECzjKRj99FN9Apx4';

        Cesium.Ion.defaultAccessToken = token_key
        var viewer = new Cesium.Viewer('cesiumContainer', {
            geocoder: false,                //是否显示地名查找控件
            sceneModePicker: false,         //是否显示投影方式控件
            navigationHelpButton: false,    //是否显示帮助信息控件
            baseLayerPicker: false,         //是否显示图层选择控件
            homeButton: false,              //是否显示Home按钮
            fullscreenButton: false,        //是否显示全屏按钮1··············
            timeline: false,                 //时间轴控件
            //animation: false,                //动画控件
            imageryProvider: new Cesium.ArcGisMapServerImageryProvider({
                url: 'http://map.geoq.cn/arcgis/rest/services/ChinaOnlineStreetPurplishBlue/MapServer'
            }) //加载蓝色的默认地球
        });

        //viewer.scene.debugShowFramesPerSecond = true;  // 显示帧率
        viewer.camera.flyTo({
            destination: Cesium.Cartesian3.fromDegrees(120.435314, 35.960521, 10000000.0),
        }); //相机自动飞到中国上空
    </script>
</div>

</body>

</html>