<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>localization sys.</title>
    <script src="../static/Cesium/Cesium.js"></script>
    <script src="../static/js/main.js"></script>
    <style>
        @import url("../static/css/index.css");
    </style>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/Cesium/Widgets/widgets.css">
</head>
<body id="body">

<table class="body-table">
    <tr>
        <td colspan="2" style="background-color:rgba(19,44,129,0.23); opacity:0.8; ">
            <div class="logo">
                <a href="www.baidu.com">
                    <img src="../static/imgs/xd.png" width="80" height="80"  alt="信息工程大学"/>
                </a>
            </div>
            <div class="header" id="header-title">
                <h1 link="http://127.0.0.1:8000/" style="text-align:center; opacity:0.5; cursor: pointer"><b>定位系统</b></h1>
            </div>

        </td>
    </tr>

    <tr>
        <td id="main-menu">
            <div id="father">
                <div class="btn-container">
                    <button onclick="img_positioning()">图像定位</button>
                    <br>
                    <button onclick="target_positioning()">目标定位</button>
                    <br>
                    <button onclick="fly2school(viewer)">学校视角</button>
                    <br>
                    <button onclick="monitoring()">舆情监测</button>
                    <br>
                    <button onclick="situational_awareness()">势态感知</button>
                    <br>


                </div>
            </div>
        </td>
        <td style="background-color:rgba(15,73,201,0.42);height:100%;width:90%;">
            <div id="div_img_positioning">

                <strong>目标定位界面</strong>

            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="background-color:rgba(1,27,75,0.4);text-align:center;">
            版权 ©XXGCDX
        </td>
    </tr>
</table>

</body>

</html>